{% extends 'layout.html' %}

{% block content %}
    <h3>Nieuwe Testament</h3>
    <div class="dropdown">
        <button class="dropbtn">Boek</button>
        <div class="dropdown-content">
            <form method="POST" action="{{ url_for('home_page') }}">
                {% for book in books %}
                    <button type="submit" name="book" value="{{book}}">{{book}}</button><br>
                {% endfor %}
            </form>
        </div>
      </div>
      
    <div class="container">
        <h2>Text list</h2>
        {% for item in text_list %}
            <p>{{ item | safe }}</p>
        {% endfor %}
    </div>
{% endblock %}

{% block scripts %}
    <script>
    $(document).ready(function(){
        console.log('--- js file loaded ---');

        var content =  $.ajax({
            url: "https://api.nasa.gov/planetary/apod?api_key=VM2f40EQQ0tk58nvmPhpVa6gthc5ma6Chgll56N7",
            contentType: "application/json",
            dataType: 'json',
            success: function(result){
                console.log(result);
            }



        })
    })
    </script>
    <script src="{{ url_for('static', filename='javascript/home.js') }}"></script>
{% endblock %}