{% extends 'layout.html' %}

{% block content %}
  <div class=".grid-container">
    <div class="frozen_top">
        <h3>
            Nieuwe Testament
            {% if show_login_btn %}
                <a class="login-button" href="/login">Login</a>
            {% else %}
                <a class="login-button" href="/logout">Logout</a>
            {% endif %}
        </h3>

        <h4>{{current_book}} &nbsp;&nbsp;&nbsp;
            {{chapters | safe}}
        </h4>
        <div class="dropdown">
            <button class="dropbtn">Boek</button>
            <div class="dropdown-content">
                <form method="POST" action="{{ url_for('home_page') }}">
                    {% for book in books %}
                        <button class="book_btn" type="submit" name="book" value="{{book}}">{{book}}</button><br>
                    {% endfor %}
                </form>
            </div>
        </div>

    </div>

    <div class="container">
        {% for item in text_list %}
            <p>{{ item | safe }}</p>
        {% endfor %}
    </div>
    <div class="hidden" id="book" value="{{current_book}}">{{current_book}}</div>"
</div>
{% endblock %}

{% block scripts %}
    <script>

    $(document).ready(function(){

        const bookmark = localStorage.getItem('bookmark');
		if (bookmark) {
			window.location.hash = bookmark;
            window.scrollTo(0, window.location.hash);
		}
        
        window.addEventListener('load', function() {
            console.log("** CHECK **");
            var section = document.querySelector('#section-id');
            if (section !== null) {
                book = $("#book").val();
                localStorage.setItem('book', book);
                console.log(book);
                window.scrollTo(0, section.offsetTop - 100);
            }

            $(".chapter_btn").click(
                function(){
                    console.log("clicked");
                    var chapter = $(this).text();
                    localStorage.setItem('chapter', chapter);
                    console.log("stored chapter: "+ chapter);
                    const currentBookmark = window.location.hash;
		            localStorage.setItem('bookmark', currentBookmark);
                }
            )
            
        });



        });
        


    
    </script>
{% endblock %}