{% extends 'layout.html' %}

{% block content %}
  <div class=".grid-container">
    <div class="frozen_top">
        <h3>
            Nieuwe Testament
            <div class="login-button-container">
                <a class="login-button" href="/login">Login</a>
            </div>
        </h3>

        <h4>{{current_book}} &nbsp;&nbsp;&nbsp;
            {{chapters | safe}}
        </h4>
        <div class="dropdown">
            <button class="dropbtn">Boek</button>
            <div class="dropdown-content">
                <form method="POST" action="{{ url_for('home_page') }}">
                    {% for book in books %}
                        <button class="book_btn" type="submit" name="book" value="{{book}}">{{book}}</button><br>
                    {% endfor %}
                </form>
            </div>
        </div>

    </div>

    <div class="container">
        {% for item in text_list %}
            <p>{{ item | safe }}</p>
        {% endfor %}
    </div>
</div>
{% endblock %}

{% block scripts %}
    <script>

    $(document).ready(function(){
        

        console.log('--- js file loaded ---');


        window.addEventListener('load', function() {
            console.log("** CHECK **");
        var section = document.querySelector('#section-id');
        if (section !== null) {
            window.scrollTo(0, section.offsetTop - 100);
        }
        });

        var content =  $.ajax({
            url: "https://api.nasa.gov/planetary/apod?api_key=VM2f40EQQ0tk58nvmPhpVa6gthc5ma6Chgll56N7",
            contentType: "application/json",
            dataType: 'json',
            success: function(result){
                console.log(result);
            }



        })
    })
    </script>
    <script src="{{ url_for('static', filename='javascript/home.js') }}"></script>
{% endblock %}